Pattern for Id

In the current version of the schema, Id (RFC 9553, section 1.4.1 ) are described with a very broad pattern (`.*`). But the RFC states "it MUST only contain characters from the "URL and Filename Safe" base64url alphabet, as defined in [Section 5](https://rfc-editor.org/rfc/rfc4648#section-5) of [[RFC4648](https://www.rfc-editor.org/rfc/rfc9553.html#RFC4648)], excluding the pad character ("="). This means the allowed characters are the ASCII alphanumeric characters ("A-Za-z0-9"), hyphen ("-"), and underscore ("_")."